@using PowerNetwork.Core.Helpers
@model PowerNetwork.Web.Models.LoginModel
@{
    ViewData["Title"] = "Login";
  
}

<form>
    <div class="container-fluid" id="loginView-@(ViewBag.SubDomain)">
        <div class="row">
             <div class="col-md-5 right">
                <div class="row">
                    <div class="col-xs-12">
                        <img src="~/images/logo-@(ViewBag.SubDomain).png" class="logo" />
                        <div id="loginControls" class="overlay-container">
                            <div class="form-group">
                                <label class="control-label">@ViewBag.Texts["Home.Login.Username"]</label>
                                <input type="text" class="form-control" id="txtUsername" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">@ViewBag.Texts["Home.Login.Password"]</label>
                                <input type="password" class="form-control" id="txtPassword"/>
                            </div>
                            <div>
                                <button id="btnSubmit" type="submit" class="btn btn-default">@ViewBag.Texts["Home.Login.Submit"]</button>
                            </div>
                        </div>
                        <br />
                        <div class="error" id="divError" style="display: none;">@ViewBag.Texts["Home.Login.Error"]</div>
                    </div>
                </div>

             
            </div>
        </div>
    </div>
</form>


@section scripts {
    @Html.Partial("_LoginScript")    
}
