@using PowerNetwork.Core.Helpers
@model PowerNetwork.Web.Models.LoginModel
@{
    ViewData["Title"] = "Home Page";
    var texts = ResourceService.Instance(ViewBag.HostingEnvironment, ViewBag.LanguageCode);
}

<form>
    <div class="container-fluid" id="loginView">
        <div class="row">
            <div class="col-md-7 left text-center">
                <h1>@texts["Home.Header"]</h1>
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <img src="~/images/logo-big.png" />
                    </div>
                </div>
            </div>
            <div class="col-md-5 right">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <img src="~/images/logo.png" class="logo" />
                        <div id="loginControls" class="overlay-container">
                            <div class="form-group">
                                <label class="control-label">@texts["Home.Login.Username"]</label>
                                <input type="text" class="form-control" id="txtUsername" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">@texts["Home.Login.Password"]</label>
                                <input type="password" class="form-control" id="txtPassword"/>
                            </div>
                            <div>
                                <button id="btnSubmit" type="submit" class="btn btn-default">@texts["Home.Login.Submit"]</button>
                            </div>
                        </div>
                        <br />
                        <div class="error" id="divError" style="display: none;">@texts["Home.Login.Error"]</div>
                    </div>
                </div>

                <div class="row bottom text-center">
                    <div class="col-xs-4 col-xs-offset-2">
                        <img src="~/images/power1.png" />
                    </div>
                    <div class="col-xs-4">
                        <img src="~/images/fraud1.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section scripts {
    <script src="~/lib/jsbn/jsbn.js"></script>
    <script src="~/lib/jsbn/jsbn2.js"></script>
    <script src="~/lib/sjcl/sjcl.js"></script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/amazon-cognito-identity-js/dist/aws-cognito-sdk.min.js"></script>
    <script src="~/lib/amazon-cognito-identity-js/dist/amazon-cognito-identity.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnSubmit").click(function (e) {
                e.preventDefault();
                toggleOverlay($("#loginControls"), true);

                var authenticationData = {
                    Username: $("#txtUsername").val(),
                    Password: $("#txtPassword").val(),
                };
                var authenticationDetails = new AWSCognito.CognitoIdentityServiceProvider.AuthenticationDetails(authenticationData);

                var poolData = {
                    UserPoolId: '@ViewBag.AppConf.CognitoUserPoolId',
                    ClientId: '@ViewBag.AppConf.CognitoClientId'
                };
                var userPool = new AWSCognito.CognitoIdentityServiceProvider.CognitoUserPool(poolData);

                var userData = {
                    Username: $("#txtUsername").val(),
                    Pool: userPool
                };
                var cognitoUser = new AWSCognito.CognitoIdentityServiceProvider.CognitoUser(userData);

                cognitoUser.authenticateUser(authenticationDetails, {
                    onSuccess: function (result) {
                        $.ajax({
                            type: 'POST',
                            url: '/home/login',
                            data: JSON.stringify({ code: result.getAccessToken().getJwtToken() }),
                            contentType: 'application/json; charset=utf-8',
                            success: function (loginResult) {
                                if (loginResult == $("#txtUsername").val()) {
                                    window.location.href = "/main";
                                } else {
                                    $("#divError").show();
                                }
                            },
                            complete: function () {
                                toggleOverlay($("#loginControls"), false);
                            }
                        });
                    },

                    onFailure: function (err) {
                        $("#divError").show();
                        toggleOverlay($("#loginControls"), false);
                    },

                    newPasswordRequired: function (userAttributes, requiredAttributes) {
                        cognitoUser.completeNewPasswordChallenge($("#txtPassword").val(), null, this);
                    }
                });
            });
        });
    </script>
}
